.post-container {
    padding: 1.25em;
    margin-bottom: 2em;
}

.post-container:hover {
    box-shadow: 0.25em 0.25em 0.5em rgba(128, 128, 128, 0.35);
    cursor: pointer;
}

.post-container h2 {
    color: #f1356d;
}