.create-post-container h2 {
    text-align: center;
    color: #f1356d;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1em;
    margin: 0 auto;
    padding: 2em 0;
}

.create-post-form label {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.create-post-form input, .create-post-form textarea, .create-post-form select {
    border-radius: 8px;
    border: solid 1px grey;
    padding: 0.5em;
}

.create-post-form textarea {
    resize: none;
}

.create-post-form input:focus, .create-post-form textarea:focus, .create-post-form select:focus {
    outline-color: #f1356d;
}

.create-post-form button {
    margin: 0 auto;
    padding: 0.75em 1em;
    border-radius: 8px;
    border: none;
    background-color: #f1356d;
    color: white;
    cursor: pointer;
}