.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px lightgrey;
    margin-bottom: 2em;
    background-color: white;
}

.navbar h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f1356d;
}

.navbar a {
    font-size: 0.9rem;
    padding: 0.5em;
    border: solid 1px white;
}

.navbar a:first-child {
    margin-right: 0.5em;
}

.navbar a:first-child:hover {
    color: #f1356d;
}

.navbar a:last-child {
    border-radius: 8px;
    background-color: #f1356d;
    color: white;
}

.navbar a:last-child:hover {
    border-radius: 8px;
    border-color: #f1356d;
    background-color: white;
    color: #f1356d;
}